* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	padding: 40px;
	background-color: #391aff;
	color: burlywood;
	font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

h2 {
	color: #00770a6b;
	text-align: center;
	font-size: 48px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1024px;
	margin: 0 auto;
}

.card {
	border: 2px solid #70750b;
	padding: 20px;
	margin: 10px;
	background-color: #78a7ff;
	border-radius: 10px;
	min-height: 100px;
}
